@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* Asterisk wild card selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General Rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #666363;
    font-family: 'mukta', sans-serif;
}

/* Header */
header {
    background-color: #666363;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 2px 20px;
}

#company {
    color: #f0f8ff;
    margin-left: 20px;
    align-content: center;
}

#anchors {
    background-color: #f73d04;
    height: 30px;
}
#anchors a>button:hover {
    background-color: #666363;
}
nav button {
    border: 3px solid #f73d04;
    border-radius: 10%;
    padding: 2px;
    color: #f0f8ff;
    background-color: #f73d04;
}

h1,
h2,
h3 {
    font-family: 'jost', sans-serif;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #61f704;
}

#oldcars {
    height: 500px;
    width: 100%;
    background-color: #61f704;
    position: relative;
    min-height: 100vh
}

#media {
    background-color: #666363;
    color: #f0f8ff;
    position: flex-end;
    height: 80px;
    padding: 5px 20px;

}

#media-icons i {
    font-size: 150%;
    padding: 4%;
    color: #61f704;
    justify-items: right;
}

footer p {
    color: #f73d04;
}

/* Media Queries: Tablets and Laber (540px and up) */
@media screen and (min-width: 576px) {
    #media {
            background-color: #666363;
            color: #f0f8ff;
            position: flex-end;
            height: 120px;
            padding: 1px 40px;
    }
}



/* Media Queries: Tablets and Laber (768px and up) */
@media screen and (min-width: 768px) {

    #media {
        height: 125px;
    }


}


/* Media Queries: laptops and desktops  (992px and up) */
@media screen and (min-width: 992px) {
    #media {
        height: 150px;
    }


}

/* Media Queries: laptops and desktops  (1200px and up) */
@media screen and (min-width: 1200px) {}