@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* Asterisk wild card selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General Rules*/
body {
    background-image: url("../images/signup-image.webp");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #666363;
    font-family: 'mukta', sans-serif;
}

/* Header */
header {
    background-color: #666363;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 2px 20px;
}

#company {
    color: #f0f8ff;
    margin-left: 20px;
    align-content: center;
}

#anchors {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    background-color: #c0370d;
    height: 30px;
}

#anchors a>button:hover {
    background-color: #666363;
}

nav button {
    border: 3px solid #c0370d;
    border-radius: 10%;
    padding: 2px;
    color: #f0f8ff;
    background-color: #c0370d;
}


#welcome-note {
    /*Push content down to accommodate header */
    margin-top: 20vh;
    max-width: 400px;
    max-height: 400px;
    padding-left: 20px;
    text-align: justify;
    justify-content: space-evenly;
}

#welcome-note h2 {
    text-align: center;
}

h1 {
    font-family: 'jost', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #56bd17;
}

h2,
h3 {
    font-family: 'jost', sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #56bd17;
}



#media-icons {
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#media-icons i {
    color: #56bd17;
    font-size: x-large;
}

#media {
    background-color: #666363;
    color: #f0f8ff;
    padding-left: 80px;

}

#media span,
p {
    padding-left: 0;
}

/* Media Queries: Tablets and Laber (540px and up) */
@media screen and (min-width: 576px) {
    #media {

        height: 125px;

    }
}



/* Media Queries: Tablets and Laber (768px and up) */
@media screen and (min-width: 768px) {

    #media {
        height: 125px;
    }


}


/* Media Queries: laptops and desktops  (992px and up) */
@media screen and (min-width: 992px) {
    #media {
        height: 150px;
    }


}

/* Media Queries: laptops and desktops  (1200px and up) */
@media screen and (min-width: 1200px) {}